{% set ntp = salt['grains.filter_by']({
  'OpenBSD': {
    'config_file': '/etc/ntpd.conf',
    'config_source': 'salt://ntp/ntpd.conf.j2',
  },
  'default': {
    'config_file': '/etc/ntp.conf',
    'config_source': 'salt://ntp/ntp.conf.j2',
    'service_enable': 'True',
    'service_name': 'ntpd',
    'service_state': 'running',
  }, 
}, merge=salt['pillar.get']('ntp:lookup')) %}
