{% set unbound = salt['grains.filter_by']({
  'OpenBSD': {
    'config_file': '/var/unbound/etc/unbound.conf',
    'config_group': 'wheel',
    'config_mode': '440',
    'package_manage': 'False',
    'service_manage': 'False',
  },
  'default': {
    'config_file': '/etc/unbound/unbound.conf',
    'config_group': 'root',
    'config_mode': '444',
    'config_source': 'salt://unbound/unbound.conf.j2',
    'config_template': 'jinja',
    'config_user': 'root',
    'package_manage': 'True',
    'package_name': 'unbound',
    'package_state': 'installed',
    'service_enable': 'True',
    'service_name': 'unbound',
    'service_manage': 'True',
    'service_state': 'running',
  }, 
}, merge=salt['pillar.get']('unbound:lookup')) %}
